Xcursor.theme: Vanilla-DMZ

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.autohint: true
Xft.lcdfilter: lcddefault

urxvt*secondaryScroll:      true
urxvt*buffered:             true
urxvt*scrollBar:            false
URxvt*saveLines:            5000
URxvt*cursorBlink:          true
URxvt.font:                 xft:DejaVuSansMono:pixelsize=12
URxvt.boldFont:             xft:DejaVuSansMono:pixelsize=12:bold
urxvt*iconFile:             /usr/share/icons/oxygen/16x16/apps/utilities-terminal.png
urxvt*visualBell:           false
urxvt*urgentOnBell:         true
URxvt*cursorUnderline:      true
URxvt.underlinecolor:       #999999
URxvt.highlightColor:       #444444
URxvt*termName:             rxvt-256color

! --[ URxvt - Disable Keycap Mode]-------------------------
URxvt.iso14755: false
URxvt.iso14755_52: false

! --[ URxvt - Perl ] --------------------------------------
!urxvt.perl-ext-common:      default,matcher,tabbedex,clipboard
urxvt.perl-ext-common:      default,matcher,clipboard

! --[ URxvt - tabdex ]-----------------
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false

! --[ URxvt - URL/Clipboard Handling ]----------------------
urxvt*urlLauncher:          firefox
URxvt.matcher.button:       1
URxvt.keysym.C-Delete:      perl:matcher:last
URxvt.keysym.M-Delete:      perl:matcher:list


! --[ URxvt - colors ]--------------------------------------
URxvt.depth: 32
URxvt.background: rgba:2222/2222/2222/bbbb
URxvt.foreground:#eeeeee

! --[ Color Scheme ]----------------------------------------

#include ".config/xcolors/tango"
!#include ".config/xcolors/zenburn"
